<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid margin-tb-75">
        <div class="row mb-2 bg-lightgrey no-gutters">
            <div class="col-5 offset-1 pr-0">
                <h4 class="text-uppercase py-4 text-center font-weight-light header-spacing dark-border-bottom mt-4 mb-5">Shopping Bag</h4>
            </div>
            <div class="col-5 pl-0">
                <h4 class="text-uppercase py-4 text-center font-weight-light header-spacing light-border-bottom mt-4 mb-5">Payment Options</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-lg-8 offset-lg-0 h-50">
                <div class="table-responsive">
                    <table class="table table-sm table-borderless font-weight-light text-uppercase">
                        <thead class="text-white bg-darkgrey small">
                            <tr>
                                <th scope="col">Pack Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% if bag_items %}
                        {% for item in bag_items %}
                            <tr>
                                <td class="img-col">
                                    {% include "bag/includes/bag-image.html" %}
                                </td>
                                <td class="align-middle">
                                    {% include "bag/includes/bag-info.html" %}
                                </td>
                                <td class="align-middle">
                                    <p class="mb-0">£{{ item.pack.price }}</p>
                                </td>
                                <td class="align-middle">
                                    {% include "bag/includes/bag-total.html" %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">
                                    <h6><strong>Your bag is empty</strong></h6>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="4" class="text-right py-3">
                                <h6 class="mb-0"><strong>Total: £{{ total|floatformat:2 }}</strong></h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">
                                <a href="{% url 'packs' %}" class="btn btn-darkgrey rounded-0 text-uppercase mt-lg-5">
                                    <i class="fas fa-chevron-left">
                                    </i>
                                    <p class="d-inline-block text-uppercase font-weight-light underline-hover mb-0">Keep Shopping</p>
                                </a>
                                {% if total %}
                                <a href="{% url 'checkout' %}" class="btn btn-darkgrey rounded-0 text-uppercase mt-lg-5">
                                    <p class="d-inline-block text-uppercase font-weight-light underline-hover mb-0">Secure Checkout</p>
                                    <i class="fas fa-lock"></i>
                                </a>
                                {% else %}
                                <a href="{% url 'checkout_no_payment' %}" class="btn btn-darkgrey rounded-0 text-uppercase mt-5">
                                    <p class="d-inline-block text-uppercase font-weight-light underline-hover mb-0">Checkout</p>
                                </a>
                                {% endif %}

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-10 offset-1 col-lg-4 offset-lg-0 h-50">
                <table class="table table-sm table-borderless font-weight-light text-uppercase">
                    <thead class="text-white bg-darkgrey small">
                        <th colspan="4">Shopping Cart Summary</th>
                    </thead>
                    <tr class="my-3">
                        <td colspan="3">Items</td>
                        <td colspan="1">{{ bag_count }}</td>
                        
                    </tr>
                    <tr class="my-3">
                        <td colspan="3">Amount Saved</td>
                        <td colspan="1">£{{ amount_saved|floatformat:2 }}</td>

                    </tr>
                    <thead class="my-3">
                        <th colspan="3">Total</th>
                        <th colspan="1">£{{ total|floatformat:2 }}</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black bg-darkgrey">
        <a class="btt-link d-flex h-100">
            <p class="mb-0 mx-auto font-weight-light text-uppercase text-white">Top</p>
            <i class="fas fa-arrow-up text-black mx-auto my-1 text-white"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        //Allows user to remove a pack from their shopping bag
        $(".remove-item-link").click(function(e){
            var csrfToken = "{{ csrf_token }}"
            var packId = $(this).data("pack_id");
            var url = `/bag/remove_from_bag/${packId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function(){
                location.reload();
            })
        })
    </script>
{% endblock%}