<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid h-100 margin-tb-75">
        <div class="row" id="home-page-top-row">
            <div class="col-10 offset-1 offset-md-2 col-md-8 col-lg-10 offset-lg-1 my-5 text-center">
                <h1 class="text-uppercase font-weight-light header-spacing mt-4 mx-auto">Grizzly Audio Packs</h1>
                <p class="text-uppercase font-weight-light">Welcome to Grizzly Audio Packs. No matter what your preferred DAW platform is, browse our diverse array of audio packs to find the perfect sounds to enhance your next project.</p>
                <div class="my-5">
                    <a href="{% url 'packs' %}" class="btn btn-darkgrey btn-sm text-uppercase rounded-0 py-3">View packs</a>
                </div>
            </div>
        </div>
        <div class="row">
            <hr class="w-100">
            <div class="col-12 col-md-6 col-lg-4 my-auto text-center">
                <h3 class="text-uppercase my-4 font-weight-light"><u>Best Sellers</u></h3>
                <div class="carousel-container">
                    <div id="carouselBestSellerControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                        <!-- Remember to change the ID for each carousel
                            And to set only one item as a active, otherwise the carousel will have no display-->
                            {% for pack in best_sellers %}
                                {% if forloop.first %}
                                    <div class="carousel-item active">
                                        <a href="{% url 'packs' %}?sort=sales&direction=desc">
                                            <img class="d-block mx-auto" src="{{ pack.image.url }}" alt="{{ pack.name }} Cover Image">
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <a href="{% url 'packs' %}?sort=sales&direction=desc">
                                            <img class="d-block mx-auto" src="{{ pack.image.url }}" alt="{{ pack.name }} Cover Image">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselBestSellerControls" role="button" data-slide="prev">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-left" width="56" height="56" viewbox="0 0 24 24" stroke-width="1.5" stroke="#222433" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(270 12 12)" />
                                </svg>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselBestSellerControls" role="button" data-slide="next">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-right" width="56" height="56" viewbox="0 0 24 24" stroke-width="1.5" stroke="#222433" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(90 12 12)" />
                                </svg>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="my-5">
                    <a href="{% url 'packs' %}?sort=sales&direction=desc" class="btn btn-darkgrey btn-sm text-uppercase rounded-0 py-3">See All</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-auto text-center">
                <h3 class="text-uppercase my-4 font-weight-light"><u>New Releases</u></h3>
                <div class="carousel-container">
                    <div id="carouselNewReleaseControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                        <!-- Remember to change the ID for each carousel
                            And to set only one item as a active, otherwise the carousel will have no display-->
                            {% for pack in new_releases %}
                                {% if forloop.first %}
                                    <div class="carousel-item active">
                                        <a href="{% url 'packs' %}?sort=date&direction=asc">
                                            <img class="d-block mx-auto" src="{{ pack.image.url }}" alt="{{ pack.name }} Cover Image">
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <a href="{% url 'packs' %}?sort=date&direction=asc">
                                            <img class="d-block mx-auto" src="{{ pack.image.url }}" alt="{{ pack.name }} Cover Image">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselNewReleaseControls" role="button" data-slide="prev">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-left" width="56" height="56" viewbox="0 0 24 24" stroke-width="1.5" stroke="#222433" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(270 12 12)" />
                                </svg>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselNewReleaseControls" role="button" data-slide="next">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-right" width="56" height="56" viewbox="0 0 24 24" stroke-width="1.5" stroke="#222433" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(90 12 12)" />
                                </svg>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="my-5">
                    <a href="{% url 'packs' %}?sort=date&direction=asc" class="btn btn-darkgrey btn-sm text-uppercase rounded-0 py-3">See All</a>
                </div>
            </div>
            <div class="d-none d-lg-inline-block col-lg-4 my-auto text-center">
                <h3 class="text-uppercase my-4 font-weight-light"><u>Free Packs</u></h3>
                <div class="carousel-container">
                    <div id="carouselFreePacksControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                        <!-- Remember to change the ID for each carousel
                            And to set only one item as a active, otherwise the carousel will have no display-->
                            {% for pack in free_packs %}
                                {% if forloop.first %}
                                    <div class="carousel-item active">
                                        <a href="{% url 'packs' %}">
                                            <img class="d-block mx-auto" src="{{ pack.image.url }}" alt="{{ pack.name }} Cover Image">
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <a href="{% url 'packs' %}">
                                            <img class="d-block mx-auto" src="{{ pack.image.url }}" alt="{{ pack.name }} Cover Image">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselFreePacksControls" role="button" data-slide="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-left" width="56" height="56" viewbox="0 0 24 24" stroke-width="1.5" stroke="#222433" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"/>
                                <path d="M18 15l-6-6l-6 6h12" transform="rotate(270 12 12)" />
                            </svg>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselFreePacksControls" role="button" data-slide="next">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-right" width="56" height="56" viewbox="0 0 24 24" stroke-width="1.5" stroke="#222433" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"/>
                                <path d="M18 15l-6-6l-6 6h12" transform="rotate(90 12 12)" />
                            </svg>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="my-5">
                    <a href="{% url 'packs' %}?sort=freepacks" class="btn btn-darkgrey btn-sm text-uppercase rounded-0 py-3">See All</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script>
        var bgUrls = [
                "{% static 'home-pack-bg/pexels-aleksandr-neplokhov-1238941_Fotor.jpg' %}",
                "{% static 'home-pack-bg/pexels-hendrik-b-744318_Fotor.jpg' %}",
                "{% static 'home-pack-bg/pexels-hendrik-b-744322_Fotor.jpg' %}",
                "{% static 'home-pack-bg/pexels-inga-seliverstova-3413462_Fotor.jpg' %}"
            ]
        $(document).ready(function(){
            var randomNumber = Math.floor((Math.random() * 4));
            $('#home-page-top-row').css('background-image', `url("${bgUrls[randomNumber]}")`);
        });
        $('.carousel').carousel({
            interval: 20000
        })
    </script>
{% endblock %}
