<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/form-style.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid margin-tb-125">
        <div class="row">
            <hr class="w-100 mb-1">
            <div class="col-10 offset-1">
                <h2 class="text-uppercase mt-4 text-center font-weight-light header-spacing">My Profile</h2>
            </div>
            <hr class="w-100 mb-1">
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-5 offset-xl-1 mt-3">
                <h4 class="text-uppercase font-weight-light">Billing Information</h4>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form.default_street_address1 | as_crispy_field }}
                    {{ form.default_street_address2 | as_crispy_field }}
                    {{ form.default_town_or_city | as_crispy_field }}
                    {{ form.default_county | as_crispy_field }}
                    {{ form.default_post_code | as_crispy_field }}
                    {{ form.default_country | as_crispy_field }}
                    <button class="btn btn-darkgrey rounded-0 text-uppercase mt-5 font-weight-light underline-hover float-right">
                        <i class="fas fa-info-circle"></i>
                        Update Information
                    </button>
                </form>
            </div>
            <div class="col-12 col-md-6 col-xl-5 mt-3 mx-auto">
                <h4 class="text-uppercase font-weight-light">Order History</h4>
                <div class="table-responsive order-history-table">
                    <table class="table table-sm table-borderless">
                        <thead class="text-white bg-darkgrey">
                            <tr class="small text-uppercase">
                                <th class="font-weight-light align-middle">Order No.</th>
                                <th class="font-weight-light align-middle">Date</th>
                                <th class="font-weight-light align-middle">Items</th>
                                <th class="font-weight-light align-middle">Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr class="small text-uppercase">
                                    <td class="align-middle">
                                        <a href="{% url 'order_history' order.order_number %}" title=" {{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        {{order.date}}
                                    </td>
                                    <td class="align-middle">
                                        <ul class="list-unstyled my-1">
                                            {% for item in order.lineitems.all %}
                                                <li>
                                                    {{ item.pack.name }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="align-middle">
                                        £{{ order.order_total }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
