{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout-style.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid margin-tb-75">
        <div class="row mb-2 bg-lightgrey">
            <div class="col-5 offset-1 pr-0">
                <h4 class="text-uppercase py-4 text-center font-weight-light header-spacing light-border-bottom mt-4 mb-5">Shopping Bag</h4>
            </div>
            <div class="col-5 pl-0">
                <h4 class="text-uppercase py-4 text-center font-weight-light header-spacing dark-border-bottom mt-4 mb-5">Payment Options</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 offset-1 col-lg-4 offset-lg-0 h-50 order-lg-last">
                <table class="table table-sm table-borderless">
                    <thead>
                        <th colspan="4">Shopping Cart Summary</th>
                    </thead>
                    <tr>
                        <td colspan="3">Items</td>
                        <td colspan="1">X</td>
                        
                    </tr>
                    <tr>
                        <td colspan="3">Amount Saved</td>
                        <td colspan="1">X</td>

                    </tr>
                    <thead>
                        <th colspan="3">Total</th>
                        <th colspan="1">X</th>
                    </thead>
                </table>
            </div>
            <div class="col-10 offset-1 col-lg-8 offset-lg-0 h-50">
                <table  class="table table-sm table-borderless">
                    
                    <tr>
                        <td>
                            <small>
                                Please fill out the form below to complete your order.
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                                {% csrf_token %}
                                <fieldset class="rounded px-3 mb-5">
                                    <legend class="fieldset-label small"><strong>Details</strong></legend>
                                    <div class="payment-detail-input my-3">
                                    {{ order_form.full_name | as_crispy_field }}
                                    </div>
                                    <div class="payment-detail-input my-3">
                                    {{ order_form.email | as_crispy_field }}
                                    </div>
                                    <div class="payment-detail-input my-3">
                                    {{ order_form.country | as_crispy_field }}
                                    </div>
                                    <div class="payment-detail-input my-3">
                                    {{ order_form.phone_number | as_crispy_field }}
                                    </div>
                                    {% if not user.is_authenticated %}
                                        <div class="form-check form-check-inline">
                                            <a class="btn btn-darkgrey rounded-0 text-uppercase mt-5" href="{% url 'account_signup' %}">Create an account</a>
                                            <a class="btn btn-darkgrey rounded-0 text-uppercase mt-5" href="{% url 'account_login' %}">Login</a>
                                        </div>
                                    {% endif %}
                                </fieldset>
                                <fieldset class="rounded px-3 mb-5">
                                    <legend class="fieldset-label small"><strong>Payment</strong></legend>
                                    <div id="card-element"></div>
                                     <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                </fieldset>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                                    <a href="{% url 'bag' %}" class="btn btn-darkgrey rounded-0 text-uppercase mt-5">
                                        <i class="fas fa-chevron-left"></i>
                                        <p class="d-inline-block text-uppercase font-weight-light underline-hover mb-0">Adjust Order</p>
                                    </a>
                                    <button id="submit-button" class="btn btn-darkgrey rounded-0 text-uppercase mt-5 font-weight-light underline-hover">Complete Order</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}