body{
    text-transform: uppercase;
    font-weight: 200;
}
input:not([type="checkbox"]){
    width: 100%
}
input::placeholder{
    font-weight: 200;
    text-transform: uppercase;
    color: #aab7c4;
}
button:not(.mobile-btn), .btn{
    margin-top: 3rem !important;
    text-transform: uppercase;
    font-weight: 200;
    border-radius: 0;
    border: 2px solid #fff;
    background-color:  #292929;
    color: #fff;
}
button:hover, .btn:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #292929;
}