
#payment-form .form-control,
#card-element {
    color: #292929;
    border: 1px solid #292929;
}
input:not([type='checkbox']){
    margin: 5px auto;
}
.stripe-style-input {
    font-weight: 200;
    text-transform: uppercase;
}
.stripe-style-input::placeholder {
    font-weight: 200;
    text-transform: uppercase;
    color: #aab7c4;
}
/* The following specifcations are found at */
/* https://stripe.com/docs/stripe-js */
.StripeElement, .stripe-style-input {
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid #292929;
    height: 40px;
    border-radius: 0;
    background-color: white;
    box-shadow: 0 2px 4px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
#add_pack_form select, #edit_pack_form select,
#profile_update_form select{
    padding: 0px;
}
#id_category{
    margin-top: 5px;
}
textarea.stripe-style-input, input[type="checkbox"] {
    height: auto;
}

.StripeElement--focus, .stripe-style-input:focus, .stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid, .stripe-style-input--invalid {
  border-color: #dc3545;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#loading-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 9999;
}
.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

select, select option {
    color: #000;
    height: 40px;
}
select:invalid, select option[value=""]{
    color: #aab7c4 !important;
}