html {
    height: 100%;
}
body {
    background-color: #fff;
    height: calc(100vh - 164px);
    color: #292929;
}
/* Font Specifications */
.font-12{
    font-size: 12px;
}
.header-spacing{
    letter-spacing: 1.5px;
}
.font-weight-light{
    font-weight: 200 !important;
}
.font-weight-light .badge{
    font-weight: 200
}
.text-black{
    color: #000;
}
.text-black:hover{
    color: #000;
}
.hover-red:hover{
    color: #dc3545;
}
.underline-hover:hover{
    text-decoration: underline;
}
/* Colour Specifications */
.bg-gold{
    background-color: #9c824a;
}
.bg-darkgrey{
    background-color: #292929;
}
.bg-lightgrey{
    background: #eee;
}
.btn-darkgrey{
    border: 2px solid #fff;
    background-color:  #292929;
    color: #fff;
}
.btn-darkgrey:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #292929;
}
.dark-border-bottom{
    border-bottom: 3px #292929 solid;
}
.light-border-bottom{
    border-bottom: 3px lightgray solid;
}
/* Spacing Specifications */
.margin-tb-125{
    margin: 125px auto;
}
.margin-tb-75{
    margin: 75px auto;
}
.w-90{
    width: 90%;
}
.lh-38{
    line-height:38px;
}
/* Header & Footer Specifications */
header, footer{
    background-color: #292929;
    color: #fff;
    height: 75px;
}
#main-nav-logo{
    height:50px;
}
#main-logo-text{
    line-height: 50px;
    font-family: 'Sanchez';
}
.mobile-nav-btn{
    background-color: #292929;
    border: 1px solid;
    border-color: rgba(255 ,255,255,0.6);
    border-radius: 5px;
    color: rgba(255 ,255,255,0.6)
}
#mobile-nav-bar{
    display: none;
    background-color:#9c824a;
}
#mobile-nav-bar li{
    width:24%;
}
.dropdown-menu {
    margin-top:8px;
    width: 225px;
}
/* Toast Specifications */
.message-container {
    position: fixed;
    top: 74px;
    right: 0px;
    z-index: 99999999999;
}
.toast-banner {
    height: 5px;
}
.toast-body {
    overflow: visible;
    border-left: 1px #000;
    border-bottom: 1px #000;
}
.toast-items-container{
    max-height: 250px;
    overflow: scroll;
}
.toast-checkout-btn{
    background-color: #292929
    border: 1px solid #fff;
}
/* Carousel Specifications */
.carousel-container .carousel-item img{
    height: 200px;
    width: 200px;
}
.carousel-control-next-icon{
    background-image: none;
}
.carousel-control-prev-icon{
    background-image: none;
}
/* Pack Page Specifcations */
.pack-card{
    width:200px;
}
.pack-display .badge{
    position: absolute;
    right: 5px;
    top: 5px;
}
.card-img-top:hover{
    opacity:0.6;
}
.btt-button{
    display:none;
    position: fixed;
    bottom: 75px;
    right:25px;
    width: 100px;
}
/* Pack Details Page Specifcations */
.pack-detail-img{
    height:400px;
    width:400px;
}
.pack-detail-img img{
    width: 100%;
    height: 100%;
}
.similar-product{
    height: 200px;
    width: 200px;
}
.onsale-badge{
    position: relative;
    left: 65px;
    bottom: 200px;
}
.onsale-lgdisplay{
    position: relative;
    left: 335px;
    bottom: 400px;
}
/* Bag Page Specifcations */
.img-col{
    width:250px;
}
.remove-item-link{
    cursor: pointer;
}
/* Media Queries */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width: 991px) {
    .nav-icon {
        margin: auto 15px;
    }
}