html {
    height: 100%;
}
body {
    background-color: #fff;
    height: calc(100vh - 164px);
    color: #292929;
}
/* Font Specifications */
.font-12{
    font-size: 12px;
}
.header-spacing{
    letter-spacing: 1.5px;
}
.font-weight-light{
    font-weight: 200 !important;
}
.font-weight-light .badge{
    font-weight: 200
}
.text-black{
    color: #000;
}
.text-black:hover{
    color: #000;
}
.text-gold{
    color:#b8860b;
}
.hover-red:hover{
    color: #dc3545;
}
.underline-hover:hover{
    text-decoration: underline;
}
/* Colour Specifications */
.bg-gold{
    background-color: #9c824a;
}
.bg-darkgrey{
    background-color: #292929;
}
.bg-lightgrey{
    background: #eee;
}
.btn-darkgrey{
    border: 2px solid #fff;
    background-color:  #292929;
    color: #fff;
}
.btn-darkgrey:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #292929;
}
.btn-inverted{
    border: 2px solid #292929;
    background-color:  #fff;
    color: #292929;
}
.btn-inverted:hover{
    border: 2px solid #fff;
    background-color:  #292929;
    color: #fff;
}
.dark-border-bottom{
    border-bottom: 3px #292929 solid;
}
.light-border-bottom{
    border-bottom: 3px lightgray solid;
}
/* Spacing Specifications */
.margin-tb-125{
    margin: 125px auto;
}
.margin-tb-75{
    margin: 75px auto;
}
.w-90{
    width: 90%;
}
.lh-38{
    line-height:38px;
}
/* Home Page/Index Specifications */
#home-page-top-row{
    background-size: cover;
}
#home-page-top-row div:first-child{
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
/* Header & Footer Specifications */
header{
    background-color: #292929;
    color: #fff;
    height: 75px;
}
footer{
   background-color: #292929;
    color: #fff;
    height: 25px; 
}
header .row:first-of-type{
    height:75px;
}
#main-nav-logo{
    height:50px;
}
#main-logo-text{
    line-height: 50px;
    margin-bottom: 0px;
    vertical-align: middle;
}
#main-navbar-list p{
    display: none;
}
#main-navbar-list .list-inline-item{
    width: 75px;
}
.mobile-btn{
    background-color: #292929;
    border: 1px solid;
    border-color: #aa842a;
    border-radius: 5px;
    color: #aa842a;
    margin-top: 9px;
}
#mobile-nav-bar, #mobile-search-bar{
    display: none;
    background-color:#9c824a;
    height: 40px;
}
#mobile-nav-bar li{
    width:24%;
}
#mobile-search-bar .input-group>*{
    margin-top: 5px;
}
.dropdown-menu {
    margin-top:8px;
    width: 225px;
}
/* Toast Specifications */
.toast{
    min-width: 250px;
    border: 1px solid #000
}
.message-container {
    position: fixed;
    top: 74px;
    right: 0px;
    z-index: 99999999999;
}
.toast-banner {
    height: 5px;
}
.toast-body {
    overflow: visible;
    border-left: 1px #000;
    border-bottom: 1px #000;
}
.toast-items-container{
    max-height: 250px;
    overflow: scroll;
}
.toast-checkout-btn{
    background-color: #292929
    border: 1px solid #fff;
}
/* Carousel Specifications */
.carousel-container .carousel-item img{
    height: 200px;
    width: 200px;
}
.carousel-control-next-icon{
    background-image: none;
}
.carousel-control-prev-icon{
    background-image: none;
}
/* Pack Page Specifcations */
.pack-card{
    width:200px;
}
.pack-display .badge{
    position: absolute;
    right: 5px;
    top: 5px;
}
.card-img-top:hover{
    opacity:0.6;
}
.card-body{
    height:70px;
    background-color:rgba(0,0,0,0.05);
}
.btt-button{
    display:none;
    position: fixed;
    bottom: 75px;
    right:25px;
    width: 100px;
}
#sortbyoptions{
    border: 0px;
}
#sortbyoptions:hover{
    border-bottom: 1px solid #292929;
}
/* Pack Details Page Specifcations */
.pack-detail-img{
    height:200px;
    width:200px;
}
.pack-detail-img img{
    width: 100%;
    height: 100%;
}
.similar-product{
    height: 200px;
    width: 200px;
}
.onsale-badge{
    position: relative;
    left: 65px;
    bottom: 200px;
}
.onsale-lgdisplay{
    position: relative;
    left: 65px;
    bottom: 200px;
}
/* This snippet of code was sourced from: */ 
/* https://css-tricks.com/making-pure-css-playpause-button/ */
/* It has been altered to fit my needs */
.custom-container{
    height: 200px;
    width: 200px;
}
.custom-container:hover{
    background-color: rgba(0,0,0,0.3);
    
}
.button-container{
    position: relative;
    background-color:rgba(0,0,0,0.3);
    width: 100px;
    height: 100px;
    bottom: 143px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.play-button {
    width:60px;
    margin-top: 10px;
    margin-left: 27px;
    box-sizing: border-box;
    height: 74px;
    border-color: transparent transparent transparent #fff;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;

    border-style: solid;
    border-width: 37px 0 37px 60px;
}
.play-button.pause {
    border-style: double;
    border-width: 0px 0 0px 60px;
    height: 60px;
    margin-left: 16px;
    margin-top: 16px;
  }
}
/* Add/Edit Pack Widget Specifications */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
.custom-checkbox .custom-control-label::before{
    border-radius: 0;
    border-color: #dc3545;
}
.custom-checkbox .custom-control-label:checked~.custom-control-label::before{
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}
.cancel-btn, .save-btn{
    width: 165px;

}
/* Bag Page Specifcations */
.img-col{
    width:250px;
}
.remove-item-link{
    cursor: pointer;
}
/* All Auth Page Specifications */

/* Media Queries */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width: 991px) {
    .nav-icon {
        margin: auto 15px;
    }
}