<!DOCTYPE html>
<ul id="main-navbar-list" class="list-inline my-0 text-uppercase d-none d-lg-inline-block">
    <li class="list-inline-item mr-0">
        <a class="nav-link text-white p-0" href="{% url 'home' %}" id="home-link">
            <div class="text-center">
                <div>
                    <i class="fas fa-home fa-lg navbar-icon"></i>
                    <p class="my-0 font-12 font-weight-light">Home</p>
                </div>
            </div>
        </a>
    </li>
    <li class="list-inline-item dropdown mr-0">
        <a class="nav-link text-white p-0" href="#" id="packs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div>
                <i class="fas fa-music fa-lg navbar-icon"></i>
                <p class="my-0 font-12 font-weight-light">Packs</p> 
                </div>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="packs-link">
            <a href="{% url 'packs' %}" class="dropdown-item">All Audio Packs</a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'packs' %}?sort=freepacks" class="dropdown-item">Free Packs</a>
            <a href="{% url 'packs' %}?sort=sales&direction=desc" class="dropdown-item">By Popularity</a>
            <a href="{% url 'packs' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
            <a href="{% url 'packs' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
        </div>
    </li>
    <li class="list-inline-item dropdown mr-0">
        <a class="nav-link text-white p-0" href="#" id="search-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div>
                    <i class="fas fa-search fa-lg navbar-icon"></i>
                    <p class="my-0 font-12 font-weight-light">Search</p>
                </div>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="search-link">
            <form method="GET" action="{% url 'packs' %}">
            <div class="input-group w-100">
                <input type="text" name="q" placeholder="SEARCH ALL PACKS" class="ml-auto">
                    <div class="input-group-append mr-auto">
                        <button class="form-control btn btn-outline-dark btn-sm">
                            <div>
                                <i class="fas fa-search"></i>
                            </div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li class="list-inline-item dropdown mr-0" >
        <a class="nav-link text-white p-0" href="#" id="account-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div>
                    <i class="fas fa-user fa-lg navbar-icon"></i>
                    <p class="my-0 font-12 font-weight-light">Account</p>
                </div>
            </div>
        </a>
            <div class="dropdown-menu border-0" aria-labelledby="account-link">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_pack' %}" class="dropdown-item">Product Management</a>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
    </li>
    <li class="list-inline-item mr-0">
        <a class="nav-link text-white p-0" href="{% url 'bag' %}" id="cart-link">
            <div class="text-center">
                <div>
                    <i class="fas fa-shopping-cart fa-lg navbar-icon"></i>
                    <p class="my-0 font-12 font-weight-light">
                        {% if total %}
                            £{{ total|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </p>
                </div>
            </div>
        </a>
    </li>
</ul>