<ul class="list-inline text-center my-0">
    <li class="list-inline-item mx-auto">
        <a class="nav-link text-white" href="{% url 'home' %}">
            <div class="text-center">
                <i class="fas fa-home"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item mx-auto">
        <a class="nav-link text-white" href="{% url 'packs' %}" id="packs-link">
            <div class="text-center">
                <i class="fas fa-music"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item mx-auto">
        <a class="nav-link text-white" href="#" id="account-link">
            <div class="text-center">
                <i class="fas fa-user fa-lg"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item mx-auto">
        <a class="nav-link text-white" href="#" id="cart-link">
            <div class="text-center">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </a>
    </li>
</ul>