<!doctype html>
<div class="modal fade bd-example-modal-sm" id="confirm-delete-{{ pack.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="confirmDelete" aria-hidden="true">
  <div class="modal-dialog modal-sm confirm-delete-modal">
    <div class="modal-content rounded-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <h4 class="text-uppercase my-3 font-weight-light text-center">Confirm delete?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="{% url 'delete_pack' pack.id %}" id="confirm-delete-btn" type="button" class="btn btn-darkgrey rounded-0 text-uppercase font-weight-light mb-3" >
                        <i class="far fa-check-circle"></i>
                        Yes
                    </a>
                    <a href="" id="cancel-delete-btn" type="button" class="btn btn-darkgrey rounded-0 text-uppercase font-weight-light mb-3">
                        <i class="far fa-times-circle"></i>
                        No
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>