<!doctype html>
<div class="modal fade" id="pack{{ pack.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ pack.name }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog pack-detail-modal" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header border-0">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_pack' %}" id="add-pack-btn" type="button" class="btn btn-darkgrey rounded-0" data-toggle="tooltip" data-placement="right" title="Add A New Pack">
                        <i class="far fa-lg fa-plus-square"></i>
                </a>
                <a href="#pack{{ pack.id }}Modal" data-dismiss="modal" id="edit-pack-btn" type="button" class="btn btn-darkgrey rounded-0" data-toggle="modal" data-target="#edit-pack{{ pack.id }}Modal">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="" id="delete-pack-btn" type="button" class="btn btn-darkgrey rounded-0" data-toggle="modal" data-target="#confirm-delete-{{ pack.id }}-modal">
                    <i class="fas fa-trash"></i>
                </a>
            {% endif %}
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 offset-1 text-center">
                    {% if pack.image %}
                        <div>
                            <img src="{{ pack.image.url }}" alt="{{ pack.name }}" class="">
                            {% if pack.on_sale %}
                            <span class="badge badge-danger onsale-lgdisplay">On Sale!</span>
                            {% endif %}
                        </div>
                    {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ pack.name }}" class="pack-detail-img">
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <h4 class="text-uppercase mt-4 mb-0 font-weight-light text-center">{{ pack.name }}</h4>
                </div>
            </div>
            <div class="row pack-details-row">
                <div class="col-12">
                    <hr class="w-100 mb-1">
                    <p class="text-muted">Publication Date: {{ pack.publish_date }}
                    </p>
                    <p class="my-4">{{ pack.description }}</p>
                    <p class="my-4">Category: <a href="{% url 'packs' %}?category={{ pack.category.name }}" class="text-muted">{{pack.category.friendly_name}}</a></p>
                
                    <p class="my-4 font-weight-bold">
                    {% if pack.on_sale %}
                        <s class="text-muted font-weight-light">£{{ pack.price }}</s>
                        £{{ pack.reduced_price }}
                    {% else %}
                    ${{ pack.price }}
                    {% endif %}
                    </p>
                    <hr class="w-100 mb-1">
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer border-0">
        <a href="" class="btn btn-darkgrey text-uppercase rounded-0 float-left" data-dismiss="modal">Close</a>
        <a href="{% url 'add_to_bag' pack.id%}" class="btn btn-darkgrey text-uppercase rounded-0">Add To Bag</a>
      </div>
    </div>
  </div>
</div>
{% if request.user.is_superuser %}
{% include 'packs/packmodals/edit_pack.html' %}
{% include 'packs/packmodals/confirm-delete.html' %}

{% endif %}