<!doctype html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid margin-tb-75">
        <div class="row">
            <hr class="w-100 mb-1">
            <div class="col-10 offset-1">
                <h2 class="text-uppercase mt-4 text-center font-weight-light header-spacing">Edit A Pack</h2>
            </div>
            <hr class="w-100 mb-1">
        </div>
        <div class="row mt-3">
            <div class="col-10 offset-1">
                <form method="POST" action="{% url 'edit_pack' pack.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label for="name" class="text-uppercase font-weight-light">Pack Name:</label>
                                <input type="text" name="name" value="{{ pack.name }}" class="w-100 rounded-0 mt-0 mb-3" maxlength="254" placeholder="Pack Name *" required id="id_name">
                                <label for="sku" class="text-uppercase font-weight-light">SKU NUmber:</label>
                                <input type="text" name="sku" value="{{ pack.sku }}" class="w-100 rounded-0 mt-0 mb-3" maxlength="12" placeholder="SKU Number *" required id="id_sku">
                                <label for="description" class="text-uppercase font-weight-light">Pack Description:</label>
                                {{ edit_pack_form.description }}
                                <div class="row">
                                    <div class="col-3">
                                        <label for="category" class="text-uppercase font-weight-light">Category:</label>
                                    </div>
                                    <div class="col-9">
                                        <select name="category" id="id_category" class="w-100 rounded-0" required>
                                            {% for cat in categories %}
                                                    {% if pack.category.friendly_name == cat.friendly_name %}
                                                        <option value="{{ cat.id }}" selected>{{ cat.friendly_name }}</option>
                                                    {% else %}
                                                        <option value="{{ cat.id }}">{{ cat.friendly_name }}</option>
                                                    {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="price" class="text-uppercase font-weight-light">Price (£):</label>
                                        <input type="number" name="price" value="{{ pack.price }}" step="0.01" class="w-100 rounded-0 mt-0 mb-3" id="id_price" required>
                                        <input type="checkbox" name="on_sale" id="id_on_sale" {% if pack.on_sale %}checked{% endif %}>
                                        <label for="on_sale" class="text-uppercase font-weight-light">On Sale?</label>
                                    </div>
                                    <div class="col-6">
                                        <label for="reduced_price" class="text-uppercase font-weight-light">Reduced Price (£):</label>
                                        <input type="number" name="reduced_price" value="{% if pack.reduced_price %}{{ pack.reduced_price }}{% endif %}" step="0.01" class="w-100 rounded-0 mt-0 mb-3" id="id_reduced_price" {% if not pack.on_sale %}disabled{% endif %}>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                {{ edit_pack_form.image }}
                            </div>
                        </div>
                    <div class="float-right">
                        <a href="{% url 'packs' %}" class="btn btn-darkgrey rounded-0 text-uppercase mt-5">
                                <i class="fas fa-trash">
                                </i>
                                <p class="d-inline-block text-uppercase font-weight-light underline-hover mb-0">Cancel Changes</p>
                        </a>
                        <button class="btn btn-darkgrey rounded-0 text-uppercase mt-5">
                            <i class="fas fa-check"></i>
                            Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function(){
            var file = $('#new-image')[0].files[0]
            $('#filename').text(`Image choosen: ${file.name}`);
        });
        $('#id_on_sale').click(function(){
            if($(this).prop("checked") == true){
                $('#id_reduced_price').prop('disabled', false);
            }
            else {
                $('#id_reduced_price').prop('disabled', true);
            }
        });
    </script>
{% endblock %}