<!doctype html>
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/form-style.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid margin-tb-75">
        <div class="row">
            <div class="col-10 offset-1">
                <h2 class="text-uppercase mt-4 text-center font-weight-light header-spacing">Edit A Pack</h2>
            </div>
            <hr class="w-100 mb-1">
        </div>
        <div class="row mt-3">
            <div class="col-10 offset-1">
                <form method="POST" action="{% url 'edit_pack' pack.id %}" class="form mb-2" enctype="multipart/form-data" id="edit_pack_form">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                {{ form.name }}
                                {{ form.sku }}
                                {{ form.description }}
                                <div class="row">
                                    <div class="col-3">
                                        <label for="id_category" class="text-uppercase font-weight-light" style="line-height: 40px;">Category:</label>
                                    </div>
                                    <div class="col-9">
                                        {{ form.category }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{ form.price }}
                                        {{ form.on_sale }}
                                        <label for="id_on_sale" class="text-uppercase font-weight-light">On Sale?</label>
                                    </div>
                                    <div class="col-6">
                                        {{ form.reduced_price }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="row">
                                    <div class="col-12">
                                    <label for="id_image" class="text-uppercase font-weight-light w-25">Select Image:</label>
                                    {{ form.image }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                    <label for="id_sample_track" class="text-uppercase font-weight-light w-25">Sample Track:</label>
                                    {{ form.sample_track }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="float-right">
                        <button class="btn btn-darkgrey rounded-0  mt-5 save-btn">
                            <i class="fas fa-check d-none"></i>
                            <p class="d-block mb-0 underline-hover text-uppercase font-weight-light">Save Changes</p>
                        </button>
                        <a href="{% url 'packs' %}" class="btn btn-darkgrey rounded-0 mt-5 cancel-btn">
                            <i class="fas fa-trash d-none">
                            </i>
                            <p class="mb-0 d-block underline-hover text-uppercase font-weight-light">Cancel Changes</p>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/add-edit-pack.js' %}">
    </script>
{% endblock %}