{% extends "base.html" %}
{% load static %}

{% block page_header %}
        <div class="row bg-gold">
            <div class="col-12 text-center">
                {% if pack.on_sale %}
                <p class="mb-0 text-white font-weight-light">This product is currently on sale! Get it <u>now</u> before the sale ends.</p>
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block content %}
    <div class="container-fluid margin-tb-125">
        <div class="row">
            <div class="col-5 offset-1 px-5">
                <a href="{% url 'packs' %}" class="text-black">
                    <i class="fas fa-chevron-left"></i>
                    <p class="d-inline-block text-uppercase font-weight-light underline-hover"> All Packs</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1 col-lg-6 offset-lg-0">
                <div class="img-container mx-auto my-3 pack-detail-img ">
                    {% if pack.image %}
                        <div>
                            <img src="{{ pack.image.url }}" alt="{{ pack.name }}" class="">
                            {% if pack.on_sale %}
                            <span class="badge badge-danger onsale-lgdisplay">On Sale!</span>
                            {% endif %}
                        </div>
                    {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ pack.name }}" class="pack-detail-img">
                    {% endif %}
                </div>
            </div>
            <div class="col-10 offset-1 col-lg-6 offset-lg-0">
                <h3 class="text-uppercase my-4 font-weight-light text-center text-lg-left">{{ pack.name }}</h3>
                <hr class="w-100 mb-1">
                <div class="" >
                    <p class="text-muted">Publication Date: {{ date_string }}/{{ month_string }}/{{ year_string }}</p>
                    <p class="my-4">{{ pack.description }}</p>
                    <p class="my-4">Category: <a href="{% url 'packs' %}?category={{ pack.category.name }}" class="text-muted">{{pack.category.friendly_name}}</a></p>
                </div>
                <p class="my-4 font-weight-bold">{% if pack.on_sale %}<s class="text-muted">${{ pack.price }}</s>{% endif %} ${{ pack.price }}</p>
                <form class="form" action="{% url 'add_to_bag' pack.id%}" method="POST">
                    {% csrf_token %}
                    <input class="d-none" type="number" value="1" name="add_to_bag" data-item_id="{{ pack.id }}" id="id_qty_{{ pack.id }}">
                    <div class="form-row">
                        <div class="col-12">
                            <a href="{ url 'packs' }" class="btn btn-darkgrey rounded-0 text-uppercase mt-5">
                                    <i class="fas fa-chevron-left">
                                    </i>
                                    <p class="d-inline-block text-uppercase font-weight-light underline-hover mb-0">Keep Shopping</p>
                            </a>
                            <input type="submit" class="btn btn-darkgrey rounded-0 text-uppercase mt-5 font-weight-light underline-hover" value="add to bag">
                        </div>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                
            </div>
            <hr class="w-90 mb-5">
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4 mx-auto">
                        <h4 class="text-uppercase my-4 font-weight-light text-center">Similar Packs</h4>
                    </div>
                </div>
                <div class="row">
                {% for pack in similar_packs %}
                    <div class="col-12 col-md-6 col-lg-4 my-auto text-center">
                        <div class="pack-card card h-100 border-0 mx-auto my-4">
                        <div class="img-container similar-product">
                            <div>
                            <a href="{% url 'pack_detail' pack.id %}" class="h-100">
                            <img src="{{ pack.image.url }}" alt="{{ pack.name }}" class="card-img-top img-fluid">
                            </a>
                            {% if pack.on_sale %}
                            <span class="badge badge-danger onsale-badge">On Sale!</span>
                            {% endif %}
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}  
                    <div class="col-12 col-md-6 col-lg-4 my-auto text-center">
                        <div class="pack-card card h-100 border-0 mx-auto my-4">
                            <div class="img-container">
                                <a href="{% url 'packs' %}">
                                    <img src="../media/see-all.png" alt="" class="card-img-top img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}