{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/packs/modal-styles.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid margin-tb-125">
        <div class="row">
            <hr class="w-100 mb-1">
            <div class="col-10 offset-1 text-center">
                <h2 class="text-uppercase mt-4  font-weight-light header-spacing d-inline-block">All {% for cat in current_categories %}{{ cat.friendly_name }}{% endfor %} Packs</h2>
            </div>
            <div class="col-1">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                            <a href="{% url 'add_pack' %}" id="add-pack-btn" type="button" class="btn btn-darkgrey rounded-0 text-uppercase float-right d-inline-block mt-4" data-toggle="tooltip" data-placement="left" title="Add A New Pack">
                                <i class="far fa-lg fa-plus-square"></i>
                            </a>
                    {% endif %}
                {% endif %}
            </div>
            <hr class="w-100 mb-1">
        </div>
        
        <div class="row text-uppercase">
            <div class="col-5 offset-1 px-5">
                <button id="changedirection" class="border-0 bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-sort" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.0" stroke="#292929" fill="none" stroke-linecap="round" stroke-linejoin="round" >
                    <path stroke="none" d="M0 0h24v24H0z"/>
                    <path d="M3 9l4-4l4 4m-4 -4v14" />
                    <path d="M21 15l-4 4l-4-4m4 4v-14" />
                    </svg>
                </button>
                <p id="pack-count" class="font-weight-light d-inline-block">{{ packs|length }} pack(s)  
                {% if search_term %}
                    with search term: <strong>"{{ search_term }}"</strong>
                {% endif %}
                {% if current_categories %}
                    with category: <strong>"{% for cat in current_categories %}{{ cat.friendly_name }}{% endfor %}"</strong>
                {% endif %}
                </p>
            </div>
            <div class="col-5 text-right px-5">
                <select name="sortby" id="sortbyoptions" class="font-weight-light border-0 text-uppercase">
                    <option value="-">Sort By</option>
                    <option {% if current_sorting == 'name' %}selected{% endif %} value="name">Name {% if current_sorting == 'name' %}({{ current_direction }}){% endif %}</option>
                    <option {% if current_sorting == 'sales' %}selected{% endif %} value="sales">Popularity {% if current_sorting == 'sales' %}({{ current_direction }}){% endif %}</option>
                    <option {% if current_sorting == 'price' %}selected{% endif %} value="price">Price {% if current_sorting == 'price' %}({{ current_direction }}){% endif %}</option>
                    <option {% if current_sorting == 'category' %}selected{% endif %} value="category">Category {% if current_sorting == 'category' %}({{ current_direction }}){% endif %}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row">
                    {% for pack in packs %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="pack-card card h-100 border-0 mx-auto my-4">
                                {% if pack.image %}
                                <div class="img-container pack-display">
                                    {% if pack.on_sale %}
                                    <span class="badge badge-danger">On Sale!</span>
                                    {% endif %}
                                    <a href="" class="h-100" data-toggle="modal" data-target="#pack{{ pack.id }}Modal">
                                        <img src="{{ pack.image.url }}" alt="{{ pack.name }}" class="card-img-top img-fluid">
                                    </a>
                                    
                                </div>
                                {% else %}
                                <div class="img-container">
                                    <a href="{% url 'pack_detail' pack.id %}" class="h-100">
                                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ pack.name }}" class="card-img-top img-fluid">
                                    </a>
                                </div>
                                {% endif %}
                                <div class="card-body p-1 pb-0">
                                    <a href="{% url 'pack_detail' pack.id %}" class="mb-0 text-black">{{ pack.name }}</a>
                                    <br>
                                    <small>{% if pack.on_sale %}<s class="text-muted">£{{ pack.price }}</s> {{ pack.reduced_price }}{% else %} £{{ pack.price }}{% endif %}</small>
                                    <br>
                                    <a href="{% url 'packs' %}?category={{ pack.category.name }}" class="mb-0 text-black"><small>{{ pack.category.friendly_name }}</small></a>
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                            <br>
                                            <a href="{% url 'edit_pack' pack.id %}" class="mb-0 text-info"><small>Edit</small></a>
                                            <a href="{% url 'delete_pack' pack.id %}" class="mb-0 ml-2 text-danger"><small>Remove</small></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% include 'packs/packmodals/pack_detail.html' %}
                    {% endfor %}
                    {% if current_categories or current_sorting or search_term %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="pack-card card h-100 border-0 mx-auto my-4">
                                <div class="img-container">
                                    <a href="{% url 'packs' %}">
                                        <img src="../../media/see-all.png" alt="" class="card-img-top img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black bg-darkgrey">
        <a class="btt-link d-flex h-100">
            <p class="mb-0 mx-auto font-weight-light text-uppercase text-white">Top</p>
            <i class="fas fa-arrow-up text-black mx-auto my-1 text-white"></i>
        </a>	
    </div>
{% endblock %}

{% block extra_js %}
    {{block.super}}
    <script src="{% static 'js/sortpacks.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#add-pack-btn').tooltip()
        })
    </script>
{% endblock%}