/* Modal Window Specifications */
.pack-detail-modal{
    margin: 0 auto;
    height: 650px;
}
.edit-pack-modal{
    max-width: 700px;
}
.modal-header .close{
    padding: 0.25rem;
    position: relative;
}
.modal-body{
    overflow: scroll;
}
#confirm-delete-btn, #cancel-delete-btn{
    width: 100px;
}