/* Modal Window Specifications */
.pack-detail-modal{
    margin: 0 auto;
    height: 650px;
}
.modal-header .close{
    padding: 0.25rem;
    position: relative;
}
.modal-body{
    overflow: scroll;
}
.close-btn, .add-btn{
    width: 100px;
    height: 40px;
}
.close-btn i, .add-btn i{
    margin-top: 6px;
}
#confirm-delete-btn, #cancel-delete-btn{
    width: 100px;
}
.confirm-delete-modal{
    margin-top: calc(50vh - 94px);
}
.pack-details-row{
    max-height:250px;
    overflow: scroll;
}